footer.footer
  .container
    .row
      .col-md-2
        img(src="../img/yudaren-logo.png", alt="yudaren-logo")
      .col-md-8
        p &copy;&nbsp;2017&nbsp&nbsp;天下er
        p
          a(href="https://github.com") GitHub
          span &nbsp;|&nbsp;
          a(href="http://weibo.com") 新浪微博
      .col-md-2
        p
          a(a href="#top") 回到顶部